/* TITLE STRIP */

.title-strip {
  display: block;
  width: 100%;
  margin-bottom: $base-margin*1.5;
  overflow: hidden;

  &__text {
    .title-strip--has-trigger & {
      float: left;
    }
  }

  &__trigger {
    float: right;
    border: none;
    padding: 0;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }
}
