/* TIME */

.time {
  &__row {
    padding-top: $base-margin*0.75;
    border-bottom: 1px dashed $mine-shaft-10;

    &__label {
      display: inline-block;
      vertical-align: top;
      margin-top: 6px;
      width: 72px;
      font-family: $font_secondary;
      font-size: $base-font-size*0.875;
      font-weight: $font_semi_bold;
      line-height: $base-line-height*1.0625;
      color: $mine-shaft-50;

      @include breakpoint($break_mobile) {
        margin-bottom: $base-margin;
      }
    }

    &__items {
      display: inline-block;
      vertical-align: top;
      width: 255px;

      &__item {
        display: inline-block;
        margin-right: $base-margin*0.25;
        margin-bottom: $base-margin*0.75;

        label {
          width: 78px;
          background-color: $white;
          border: 1px solid $mine-shaft-20;
          border-radius: 14px;
          font-family: $font_primary;
          font-weight: $font_regular;
          font-size: $base-font-size;
          line-height: $base-line-height*1.375;
          text-align: center;
          margin-right: 0;
          margin-bottom: 0 !important;
          padding: $base-margin*0.25 $base-margin*0.5;
          box-sizing: border-box;

          .period {
            font-size: $base-font-size*0.625;
            line-height: $base-line-height*0.875;
          }
        }

        input {
          display: none;

          &:checked + label {
            background-color: $brand-primary-80;
            border-color: $brand-primary;
            color: $white;
            font-weight: $font_semi_bold;
            padding: $base-margin*0.25 $base-margin*0.45;
          }
        }
      }
    }
  }
}