/* VARIABLES */

// Colors
$white:               rgba(255, 255, 255, 1);
$black:               rgba(45, 45, 45, 1);
$grey:                rgba(150, 150, 150, 1);
$red:                 rgba(255, 93, 93, 1);

// Brand Colors
$brand-primary:       rgba(45, 75, 145, 1);
$brand-primary-80:    rgba($brand-primary, 0.8);
$brand-primary-50:    rgba($brand-primary, 0.5);
$brand-primary-20:    rgba($brand-primary, 0.2);
$brand-primary-10:    rgba($brand-primary, 0.1);
$brand-primary-05:    rgba($brand-primary, 0.05);

// App Colors
$mine-shaft:          rgba(31, 31, 31, 1);
$mine-shaft-50:       rgba($mine-shaft, 0.5);
$mine-shaft-25:       rgba($mine-shaft, 0.25);
$mine-shaft-20:       rgba($mine-shaft, 0.20);
$mine-shaft-10:       rgba($mine-shaft, 0.10);
$mine-shaft-05:       rgba($mine-shaft, 0.05);
$alto:                rgba(216, 216, 216, 1);
$wild-sand:           rgba(246, 246, 246, 1);
$lochmara:            rgba(2, 141, 200, 1);